# Ignorar datos pesados en cualquier nivel, pero mantener el archivo de fuentes
**/datasets/*
!**/datasets/sources.txt

# Ignorar pesos de modelos en cualquier nivel, pero mantener la carpeta
**/models/*
!**/models/.gitkeep

# Entornos y binarios de Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
.env
mock_models.py
